<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>Jaca Games</title>
<!-- Bootstrap core CSS -->
<link th:href="@{vendor/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet">
<!-- Custom styles for this template -->
<link th:href="@{css/heroic-features.css}" rel="stylesheet">

</head>
<body>
	<!-- Navigation -->
	<div th:fragment="header">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
			<a class="navbar-brand" th:href="@{/}"> <i class="fas fa-gamepad"></i>
				Jaca Games
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarNav" aria-controls="navbarNav"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link" th:href="@{/}"> <i
							class="fas fa-home"></i> Inicio
					</a></li>
					<li class="nav-item"><a class="nav-link" href="juegos.html">
							<i class="fas fa-gamepad"></i> Juegos
					</a></li>
					<li class="nav-item"><a class="nav-link"
						th:href="@{/usuario/login}"> <i class="fas fa-sign-in-alt"></i>Login
					</a></li>
				</ul>
			</div>
			<!--  <li class="nav-item"><a class="nav-link" th:href="@{/getCart}">Carrito</a></li>-->
		</nav>
	</div>


	<!-- Navigation -->
	<div th:fragment="header-user">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
			<div class="container">

				<a class="navbar-brand" th:href="@{/}"><i class="fas fa-gamepad"></i>
					Jaca Games</a>
				<form class="form-inline ml-2" method="post" th:action="@{/search}">
					<input class="form-control mr-sm-2" type="search"
						placeholder="Buscar productos" aria-label="Buscar" id="query"
						list="resultados-list" oninput="buscarProductos()" name="nombre"
						autocomplete="off">
					<button class="btn btn-outline-light my-2 my-sm-0" type="submit">
						<i class="fas fa-search"></i>
					</button>
					<datalist id="resultados-list"></datalist>
				</form>


				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarResponsive" aria-controls="navbarResponsive"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item dropdown"><a
							class="nav-link dropdown-toggle" href="#"
							id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false"> <span
								th:text="${session.nombreUsuario}">USER</span></a>

							<div class="dropdown-menu"
								aria-labelledby="navbarDropdownMenuLink">
								<a class="dropdown-item" th:href="@{/usuario/juegos}">Biblioteca
									de juegos</a> <a class="dropdown-item"
									th:href="@{/usuario/compras}">Compras</a> <a
									class="dropdown-item" th:href="@{/getCart}"> <!-- Icono de carrito -->
									Carrito<i class="fas fa-shopping-cart"></i> <span
									class="badge badge-pill badge-primary"
									th:text="${session.carrito}">0</span>
								</a> <a class="dropdown-item" th:href="@{/usuario/cerrar}">Salir</a>
							</div></li>
					</ul>
				</div>
			</div>
		</nav>
	</div>

	<div th:fragment="header-ListaJuegos">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
			<div class="container">

				<a class="navbar-brand" th:href="@{/}"><i class="fas fa-gamepad"></i>
					Jaca Games</a>

				<!-- Omitimos la barra de búsqueda para la lista de juegos -->

				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarResponsive" aria-controls="navbarResponsive"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item dropdown"><a
							class="nav-link dropdown-toggle" href="#"
							id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false"> <span
								th:text="${session.nombreUsuario}">USER</span></a>
							<div class="dropdown-menu"
								aria-labelledby="navbarDropdownMenuLink">
								<a class="dropdown-item" th:href="@{/usuario/juegos}">Biblioteca
									de juegos</a> <a class="dropdown-item"
									th:href="@{/usuario/compras}">Compras</a> <a
									class="dropdown-item" th:href="@{/getCart}"> <!-- Icono de carrito -->
									Carrito<i class="fas fa-shopping-cart"></i> <span
									class="badge badge-pill badge-primary"
									th:text="${session.carrito}">0</span>
								</a> <a class="dropdown-item" th:href="@{/usuario/cerrar}">Salir</a>
							</div></li>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</div>

	<!-- Navigation -->
	<div th:fragment="header-user-compras">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
			<div class="container">

				<a class="navbar-brand" th:href="@{/}"><i class="fas fa-gamepad"></i>
					Jaca Games</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarResponsive" aria-controls="navbarResponsive"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item dropdown"><a
							class="nav-link dropdown-toggle" href="#"
							id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false"> <span
								th:text="${session.nombreUsuario}">USER</span></a>

							<div class="dropdown-menu"
								aria-labelledby="navbarDropdownMenuLink">
								<a class="dropdown-item" th:href="@{/usuario/juegos}">Biblioteca
									de juegos</a> <a class="dropdown-item"
									th:href="@{/usuario/compras}">Compras</a> <a
									class="dropdown-item" th:href="@{/getCart}"> <!-- Icono de carrito -->
									Carrito<i class="fas fa-shopping-cart"></i> <span
									class="badge badge-pill badge-primary"
									th:text="${session.carrito}">0</span>
								</a> <a class="dropdown-item" th:href="@{/usuario/cerrar}">Salir</a>
							</div></li>
					</ul>
				</div>
			</div>
		</nav>
	</div>

	<!-- Footer -->
	<!-- Footer -->
<div th:fragment="footer">
    <footer class="bg-dark text-light text-center py-3">
        © 2024 Jaca Softworks
        <div class="social-media-links my-2">
            <a href="https://www.facebook.com/tucuenta" target="_blank" class="social-media-link"><i
                    class="fab fa-facebook"></i></a>
            <a href="https://twitter.com/tucuenta" target="_blank" class="social-media-link"><i
                    class="fab fa-twitter"></i></a>
            <a href="https://www.instagram.com/tucuenta" target="_blank" class="social-media-link"><i
                    class="fab fa-instagram"></i></a>
            <a href="https://t.me/tucuenta" target="_blank" class="social-media-link"><i
                    class="fab fa-telegram"></i></a>
        </div>
        <div class="footer-links mt-3">
            <a href="mailto:pixelpalaceuacm@gmail.com" class="text-light mx-2">Contacto</a>
            <a th:href="@{/usuario/aviso-privacidad}" target="_blank" class="text-light mx-2">Aviso de privacidad</a>
            <a th:href="@{/usuario/terminos-legales}" target="_blank" class="text-light mx-2">Información legal</a>
            <a th:href="@{/usuario/acuerdos}" target="_blank" class="text-light mx-2">Acuerdo de usuario</a>
            <a th:href="@{/usuario/reembolsos}" target="_blank" class="text-light mx-2">Reembolsos</a>
        </div>
    </footer>
</div>

	<!-- Bootstrap core JavaScript y otros scripts -->
	<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/javascript/script-buscador.js}"></script>
</body>

</html>
