<!-- Footer -->
<div th:fragment="footer">
    <footer class="bg-dark text-light text-center py-3">
        © 2024 Jaca Softworks
        <div class="social-media-links my-2">
            <a href="https://www.facebook.com/tucuenta" target="_blank" class="social-media-link"><i
                    class="fab fa-facebook"></i></a>
            <a href="https://twitter.com/tucuenta" target="_blank" class="social-media-link"><i
                    class="fab fa-twitter"></i></a>
            <a href="https://www.instagram.com/tucuenta" target="_blank" class="social-media-link"><i
                    class="fab fa-instagram"></i></a>
            <a href="https://t.me/tucuenta" target="_blank" class="social-media-link"><i
                    class="fab fa-telegram"></i></a>
        </div>
        <div class="footer-links mt-3">
            <a href="mailto:pixelpalaceuacm@gmail.com" class="text-light mx-2">Contacto</a>
            <a th:href="@{/usuario/aviso-privacidad}" target="_blank" class="text-light mx-2">Aviso de privacidad</a>
            <a th:href="@{/usuario/terminos-legales}" target="_blank" class="text-light mx-2">Información legal</a>
            <a th:href="@{/usuario/acuerdos}" target="_blank" class="text-light mx-2">Acuerdo de usuario</a>
            <a th:href="@{/usuario/reembolsos}" target="_blank" class="text-light mx-2">Reembolsos</a>
        </div>
    </footer>
</div>
