<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>Jaca Games</title>
<!-- Bootstrap core CSS -->
<link th:href="@{vendor/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<!-- css de Bootstrap -->
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	rel="stylesheet">
<!-- iconos de los enlases de redes sociales -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<!-- Custom styles for this template -->
<link th:href="@{css/estilos-home.css}" rel="stylesheet">
<link rel="icon" href="images/almohadilla-de-juego.png" type="image/png">
</head>


<!-- <div class="mi-contenedor">
		Navigation  <div th:include="home/template_home.html::header"></div> -->

<body id="cuerpo-home">
	<div class="contenedor">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
			<a class="navbar-brand" th:href="@{/}"> <i class="fas fa-gamepad"></i>
				Jaca Games
			</a>
			<form class="form-inline ml-2" method="post" th:action="@{/search}">
				<input class="form-control mr-sm-2" type="search"
					placeholder="Buscar productos" aria-label="Buscar" id="query"
					list="resultados-list" oninput="buscarProductos()" name="nombre"
					autocomplete="off">
				<button class="btn btn-outline-light my-2 my-sm-0" type="submit">
					<i class="fas fa-search"></i>
				</button>
				<datalist id="resultados-list"></datalist>
			</form>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarNav" aria-controls="navbarNav"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link" th:href="@{/}"> <i
							class="fas fa-home"></i> Inicio
					</a></li>
					<li class="nav-item"><a class="nav-link"
						th:href="@{/usuario/juegos}"> <i class="fas fa-gamepad"></i>
							Juegos
					</a></li>
					<li class="nav-item"><a class="nav-link"
						th:href="@{/usuario/login}"> <i class="fas fa-sign-in-alt"></i>Login
					</a></li>
				</ul>
			</div>
		</nav>
		<!-- Page Content 
		<div class="container mt-5">
			<!-- Jumbotron Header 
			<header class="jumbotron my-4">
				<h1 class="display-3" id="h1-home">Bienvenido a Pixel Palace </h1>
				<p class="lead" id="p-home">Tu Portal al Mundo de la Diversión Virtual</p>
			</header>-
			<div class="row">
        		<div class="col-md-4 mb-4" th:each="producto: ${productos}">
            		<div class="card">
                		<img class="card-img-top" th:src="@{/images/{img} (img=${producto.imagen})} " alt="">
                		<div class="card-body">
                    		<h5 class="card-title" th:text="${producto.nombre}"></h5>
                    		<p class="card-text" th:text="${producto.descripcion}"></p>
                		</div>
                		<div class="card-footer">
							<a th:href="@{verproducto/{id}(id=${producto.id})}" class="btn btn-success">Ver producto</a>
						</div>
            		</div>
        		</div>
			</div>
		</div>-->


		<main>
			<ul class="slider1">
				<th:block th:each="producto, iterStat : ${productos}"
					th:if="${iterStat.index < 6}">
					<li class="item1" th:style="'background-image: url(/images/' + ${producto.imagen} + ') '">
						<div class="content1">
							<h2 class="title1" th:text="${producto.nombre}"></h2>
							<p class="descripcion" th:text="${producto.descripcion}"></p>
							<a th:href="@{'/verProducto/' + ${producto.id}}"><button>Ver
									producto</button></a>
						</div>
					</li>
				</th:block>
				<!-- <li class="item1"
				style="background-image: url('/images/cazaLeyendas.png')">
				<div class="content1">
					<h2 class="title1">Caza Leyendas</h2>
					<p class="descripcion">Embárcate en un emocionante viaje a
						través de las profundidades de las leyendas mexicanas en "Leyendas
						Místicas de México". Este juego cautivador te sumergirá en un
						mundo lleno de misterio, mitos y folclore mientras exploras los
						oscuros secretos detrás de personajes legendarios como La Llorona,
						El Charro Negro, El Brujo Mayor y El Conde de Jalisco.</p>
					<button>Ver producto</button>
				</div>
			</li>
			<li class="item1"
				style="background-image: url('/images/minecrafthome.jpg')">
				<div class="content1">
					<h2 class="title1">Minecraft</h2>
					<p class="descripcion">Minecraft es mucho más que un juego; es
						una plataforma de creatividad sin límites. ¿Qué construirás en
						este mundo virtual? ¿Sobrevivirás a los desafíos que se avecinan?
						Sumérgete en la aventura y descúbrelo por ti mismo en Minecraft
						para PC.</p>
					<button>Ver producto</button>
				</div>
			</li>
			<li class="item1"
				style="background-image: url('/images/haloinfinite.jpg')">
				<div class="content1">
					<h2 class="title1">Halo Infinite</h2>
					<p class="descripcion">Cuando toda esperanza se pierde y el
						destino de la humanidad depende de un hilo, el Jefe Maestro está
						listo para enfrentarse al enemigo más despiadado al que jamás haya
						hecho frente.</p>
					<button>Ver producto</button>
				</div>
			</li>
			<li class="item1"
				style="background-image: url('/images/imgre.jpg')">
				<div class="content1">
					<h2 class="title1">Resident evil 4</h2>
					<p class="descripcion">Han pasado seis años desde la catástrofe
						biológica de Raccoon City. Leon S. Kennedy, uno de los
						supervivientes, ha sido asignado como agente especial del gobierno
						al presidente de los Estados Unidos. Con la experiencia de
						múltiples misiones a sus espaldas, Leon es enviado a rescatar a la
						hija del presidente, la cual ha sido secuestrada. Sus pesquisas le
						llevan a un aislado pueblo europeo, en donde algo muy extraño está
						pasando con sus habitantes... El telón se alza desvelando una
						cruenta experiencia de Survival Horror y la historia de un
						angustioso rescate.</p>
					<button>Ver producto</button>
				</div>
			</li>
			<li class="item1"
				style="background-image: url('/images/gta5.jpg')">
				<div class="content1">
					<h2 class="title1">GTA V</h2>
					<p class="descripcion">Bienvenidos a Los Santos Cuando un joven
						estafador callejero, un ladrón de bancos retirado y un psicópata
						aterrador se ven involucrados con lo peor y más desquiciado del
						mundo criminal, del gobierno de los EE. UU. y de la industria del
						espectáculo, tendrán que llevar a cabo una serie de peligrosos
						golpes para sobrevivir en una ciudad implacable en la que no
						pueden confiar en nadie. Y mucho menos los unos en los otros.</p>
					<button>Ver producto</button>
				</div>
			</li>-->
			</ul>
			<nav class="nav1">
				<ion-icon class="btn1 prev" name="arrow-back-outline"></ion-icon>
				<ion-icon class="btn1 next" name="arrow-forward-outline"></ion-icon>
			</nav>
		</main>
	</div>
	<!-- /.container -->
	<!-- Footer 
		<div th:include="usuario/template_usuario.html::footer"></div>
		<!-- Bootstrap core JavaScript -->
	<script th:src="@{javascript/script-home.js}"></script>
	<script type="module"
		src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule
		src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
	<script th:src="@{vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
